
html{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0; 
    padding: 0; 
    background-color: #F4F4F4;
}

#input-container{
    display:flex; 
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: #059669;
    color: white; 
    padding: 35px;
}

#number-input{
    padding: 10px;
    font-size: 30px;
    font-size: 58px;
    font-weight: 800; 
    background-color: transparent;
    border: 2px solid #A7F3D0; 
    width: 97px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

#convert-btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px; 
    font-weight: 500;
    border: none;
    background-color: white;
    color: #3D3D3D;
    width: 119px;
}

h1{
    font-size: 28px;
    font-weight: 800; 
    margin: 0px;
}

h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 9px;
    color: #047857;
}

p{
    margin-top: 9px;
    font-size: 14px;
    font-weight: 400; 
    color: #353535;
}

#output-container{
    display:flex; 
    flex-direction: column;
    align-items: center;
}

.output-div{
    display:flex; 
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 500px; 
    margin: 23px;
    border-radius: 5px 0 0 0; 
}